%h2.content-subhead Отчеты
#list.pure-u-1
  - @reports.each do |report|
    .email-item.pure-g
      .pure-u
        %img{:class => 'email-avatar', :src => "/image/#{report['browser']}.png", :width => 64, :height => 64, :alt => "#{report['browser']}"}
      %div{:class => 'pure-u-3-4'}
        %p.email-desc="Автор: #{report['author']}"
        %p.email-desc="Разрешение: #{report['width']}x#{report['height']}"
        -if report['status'] == 'done'
          %p.email-desc="Продолжительность: #{report['end_time'] -report['start_time']} сек"
          %p.email-desc="Ошибок: #{report['failed']}"
          %a{:href => "/report/view/#{report['_id']}"} Подробнее
        -else
          %p.email-desc="Статус: в обработке"