%h2.content-subhead Результаты
#list.pure-u-1
  - @results.each do |result|
    .email-item.pure-g
      .pure-u
        %img{:class => 'email-avatar', :src => "/image/#{result['browser']}.png", :width => 64, :height => 64, :alt => "#{result['browser']}"}
      %div{:class => 'pure-u-3-4'}
        %p.email-desc="Автор: #{result['author']}"
        %p.email-desc="Разрешение: #{result['resolution']['width']}x#{result['resolution']['height']}"
        -if result['status'] == 'progress'
          %p.email-desc="Статус: в обработке"
        -else
          %p.email-desc="Продолжительность: #{result['end_time'] -result['start_time']} сек"
          %a{:href => "/result/view/#{result['_id']}"} Подробнее